################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dnc.BookStore/obj
/Dnc.BookStore/.vs/Dnc.BookStore/v16
/Dnc.BookStore/bin/Debug/netcoreapp3.1
/Dnc.BookStore/.vs/Dnc.BookStore/config
/Dnc.BookStore/.vs/Dnc.BookStore/DesignTimeBuild
/Dnc.BookStore/wwwroot/images/book/cover
/Dnc.BookStore/wwwroot/images/book
/Dnc.BookStore/wwwroot/jquery-validate
/Dnc.BookStore/wwwroot/lib/jquery-validate
/Dnc.BookStore/wwwroot/lib/jquery-validation-unobtrusive
