################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dnc.BookStore/obj
/Dnc.BookStore/.vs/Dnc.BookStore/v16
