
<section class="jumbotron text-center">
    <div class="container">
        @{ 
            var data = ViewBag.Data;
        }
        <h1>Welcome to Book Store @ViewBag.Data.Title</h1>
        <p class="lead text-muted">
           search your books of interest and read onling or offline
        </p>
        <p>
            <a href="#" class="btn btn-primary">Search Book</a>
        </p>
    </div>
</section>


<div class="container">
    <h3 class="h3">Top Books</h3>
    <div class="row">
       <vc:top-book count="5"></vc:top-book>
        @*@Component.InvokeAsync("TopBook", new { count = 5 });*@
    </div>
</div>
@section WelcomeAlert{
    <script>
        $(document).ready(function () {
            //alert("Welcome to book store");
        }
        )
    </script>
}







