@{
    Layout = "_Layout";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Book Store</h1>
        <p class="lead text-muted">
           search your books of interest and read onling or offline
        </p>
        <p>
            <a href="#" class="btn btn-primary">Search Book</a>
        </p>
    </div>
</section>


<div class="container">
    <h3 class="h3">Top Books</h3>
    <div class="row">
        <div class="col col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <svg class="card-img-top"></svg>
                    <p class="card-text">
                        C# Basics
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                        </div>
                        <small class="text-muted">Author</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <svg class="card-img-top">
                        <image width="500" height="350" xlink:href="https://www.tutorialspoint.com/videotutorials/images/coding_ground_home.jpg" />
                    </svg>
                    <p class="card-text">
                        Asp MVC Basics
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                        </div>
                        <small class="text-muted">Author</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <svg class="card-img-top"></svg>
                    <p class="card-text">
                        Core Basics
                    </p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">Details</a>
                        </div>
                        <small class="text-muted">Author</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section WelcomeAlert{
    <script>
        $(document).ready(function () {
            //alert("Welcome to book store");
        }
        )
    </script>
}







