@{
    ViewBag.Title = "All Books";
}
@model IEnumerable<BookModel>
@section Title{
    <div class="breadcrumb text-muted">
        <div class="breadcrumb-item active"><a href="/">Home</a></div>
        <div class="breadcrumb-item">All Books</div>
    </div>
}

<div class="container">
 
    <div class="row">

        @foreach (var book in Model)
        {
            Html.RenderPartial("_bookThumbnail", book as BookModel);            
        }

    </div>
</div>